*{
  font-family: 'Kumbh Sans', sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

header{
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  padding-bottom: 2rem;
  width: 100%;
}

.logo{
  padding-left: 4rem;
  
}

.menu{
  color:hsl(219, 9%, 45%);
  display: flex;
  flex-direction: row;
  margin-left: 0.5rem;
}

.menu li{
  margin-right: 3rem;
}

.menu li:hover{
  text-decoration: underline 2px solid hsl(26, 100%, 55%);
}

.menu2{
  align-items: baseline;
  display: flex;
  flex-direction: row;
  margin-right: 18rem;
  padding-left: 8rem;
  justify-content: space-between;
}

.menu2 a{
  margin-left: 2rem;
}

.CartBox{
  top: 2rem;
  left:900px
}

.avatar{
  border: 2px solid #ffffff;
  border-radius: 50%;
  top: 2rem;
  width: 30px;
  height: 30px;
}

.avatar:hover{
  border: 2px solid hsl(26, 100%, 55%);
  border-radius: 50%;
}

.btn-primary{
  border: 0;
  background-color: transparent;
  cursor: pointer;
}


hr{
  margin: 0 4rem;
  margin-bottom: 1.5rem;
  max-width: 960px;
  opacity: 0.3;
}

@media (max-width: 768px){
  header{
    margin-bottom: 0.5rem;
    padding-bottom: 0.6rem;
  }
  .menu{
    display: none;
    margin:0;
    padding:0;
  }

  /*.menu li{
    font-size: 14px;
    margin-right: 1.5rem;
  } */

  .menu2{
    display: flex;
    padding-left: 1.5rem;
    margin-right: 9rem;
  }

  hr{
    max-width: 340px;
    margin: 1rem;
  }

  
    
}