main{
  display: flex;
  flex-direction: row;
  max-width: 800px;
  margin:0 8rem;
  margin-bottom: 4rem;
}

/*======================================Left Side==============================*/
.sidePhotos{
  display: flex;
  flex-direction: column;
}

.photo_principal img{
  border-radius: 10px;
  max-width: 300px;
}
.photoMini{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.photoMini img{
  border: 2px solid #ffffff;
  border-radius: 10px;
  max-width: 62.5px;
  margin-right: 15px;
}

.photoMini img:hover{
  border: 2px solid hsl(26, 100%, 55%);
  border-radius: 10px;
  opacity: 0.6;
}

/*======================================Right Side==============================*/

.aboutSide{
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  margin-left:50px ;
  margin-top: 2rem;
}

h4{
  color: hsl(26, 100%, 55%) ;
}

.Titles{
  line-height: 1.6rem;
  margin-bottom: 2rem;
}

.aboutItem{
  color:hsl(219, 9%, 45%);
  font-size: 14px;
  margin-bottom: 2rem;
}

.prices{
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.price__item{
  display: flex;
  flex-direction: row;
}

.price__item li{
  margin-right: 1rem;
}

#valueDesc{
  font-size: 16px;
  font-weight: bold;
}

#desc{
  background-color:hsl(25, 100%, 94%);
  border-radius: 3px;
  color: hsl(26, 100%, 55%);
  font-size: 8px;
  font-weight: bold;
  padding: 0.15rem 0.45rem;
}

#nthValue{
  color: hsl(220, 14%, 75%);
  font-size: 11px;
  text-decoration: line-through;
}

.itemUnity{
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.counterPrice{
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  background-color: hsl(233, 11%, 85%);
  /*padding-left:1.3rem;*/
  width: 110px;
  height: 30px;
}

.itemUnity{
  align-items: center;
}


.itemUnity li{
  margin-top: 0.23rem;
  margin-left:  1rem;
}


.btnMinus{
  border: 0;
  color:transparent;
  cursor: pointer;
  background-color:hsl(233, 11%, 85%);
  background-image: url(./images/icon-minus.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px
}

.btnPlus{
  border: 0;
  color: transparent;
  cursor: pointer;
  background-color:hsl(233, 11%, 85%);
  background-image: url(./images/icon-plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px
}
.btnCart{
  align-items: center;
  background-color:  hsl(26, 100%, 55%);
  border: 0;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-left: 0.5rem;
  width:  200px;
  height: 30px;
}

.btnCart:hover{
  opacity: 0.8;
}

.btnCart img{
  margin-right: .6rem;
  width: 20px;

}

/*=========================================Mobile Version===========*/
@media (max-width: 480px){
  main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 3rem;
  }

  .aboutSide{
    flex-direction: column;
    justify-content: space-between;
    width:300px;
    margin:auto;
  }
  .sidePhotos{
    justify-content: space-between;
  }
  .photo_principal{
    margin-left: 0;
    align-items: center;
    justify-content: center;
  }

  .photo_principal img{
    margin:auto;
    max-width: 280px;
  }

}